MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=corridas_db
MONGODB_COLLECTION=eventos
API_HOST=127.0.0.1
API_PORT=8181
API_DEBUG=true
API_KEY=your-secret-api-key
AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_BUCKET_NAME=your-bucket-name
AWS_STATIC_DOMAIN=your-static-domain
AWS_ACCOUNT_ID=your-account-id
